.dashboard-wrapper{
    padding: 30px;
    position: relative;
}

.dashboard-sidebar-wrapper{
    position: absolute;
    left: 40px;
    top: 35px;
    width: 225px;
    /* border: 1px solid red; */
}

.dashboard-right-wrapper{
    margin-left: 280px;
    /* border: 1px solid red; */
}

.dashboard-content-wrapper{
    /* height: 100%;
    border: 1px solid red; */
    /* margin-top: 20px; */
}