.landing-container {
    height: 120vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: inline-block;
    /* position: absolute; */
    width: 100%;
    padding-bottom: 100%;
    /* vertical-align: middle; */
    /* overflow: hidden; */
    top: 0;
    left: 0;
    /* z-index: -1; */
}

body {
    overflow-x: hidden;
    font-family: 'Poppings', sans-serif;
}


.landing-card {
    width: 500px;
    height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* z-index: -2; */
    border-radius: 20px;
}

.landing-card-heading {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    border-radius: 20px 20px 0 0;
}

.landing-card-heading-text {
    font-size: 22px;
    font-weight: 600;
    color: rgb(115 115 115);
}

.landing-card-body {
    padding: 5px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid red; */
    height: 360px;
}

.landing-card-body::-webkit-scrollbar-track {
    -webkit-box-shadow: #fff;
    border-radius: 10px;
    background-color: #FFF;
}

.landing-card-body::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.landing-card-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px #ddd;
    background-color: #ccc;
}


.landing-card-profile {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 20px 0px 0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.landing-card-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
    /* border: 1px solid #ddd; */
}

.landing-card-profile-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

.landing-card-profile p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    color: #555;
    font-family: 'Roboto', sans-serif;

}